{% extends "notifications/notification.html" %}
{% load urls %}
{% load staticfiles %}

{% block subject %}{{respond_user}} commented on {{topic}}{% endblock %}

{% block html %}
<a href="{% external_url "profile" respond_user.user.pk %}">{{respond_user}}</a> has comment on <a href="{% external_url "discussion" topic.pk %}" class="main-link">{{topic}}</a>.

<blockquote>
    {{comment}}
</blockquote>
{% endblock %}

{% block text %}
{{respond_user}} ({% external_url "profile" respond_user.user.pk %}) has commented on {{topic}} ({% external_url "discussion" topic.pk %}).

"{{comment}}"
{% endblock %}

{% block image %}
    {% if topic.thumbnail_url %}
        <img src="{{topic.thumbnail_url}}">
    {% else %}
        <img src="{% static "img/newslogo.png" %}">
    {% endif %}
{% endblock %}