{% extends "account/base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}Sign up{% endblock %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h2>Consent Form</h2>
<p><strong>Ethics reference number:</strong>  ERGO/FPSE/15776<br />
<strong>Version:</strong> 1 <strong>Date:</strong> 2015-07-28<br />
<strong>Study Title:</strong> Effects of grouping mechanisms on contribution to online news discussion<br />
<strong>Investigator:</strong> Jonathan Scott</p>

<p>Please tick the box(es) if you agree with the statement(s):</p>

<table>
<tr>
<td><input type="checkbox" id="participant_info"></td>
<td><p><label for="participant_info">I have read and understood <a href="{% url "info" %}" target="_BLANK">the Participant Information (version 1 dated 2015-07-28)</a> and have had the opportunity to ask questions about the study.</label></p></td>
</tr>
<tr>
<td><input type="checkbox" id="take_part"></td>
<td><label for="take_part">I agree to take part in this study.</label></td>
</tr>
<tr>
<td><input type="checkbox" id="voluntary"></td>
<td><label for="voluntary">I understand my participation is voluntary and I may withdraw at any time and for any reason.</label></td>
</tr>
<tr>
    <td><input type="checkbox" id="data"></td>
    <td>
<label for="data">I understand that information collected during my participation in this study will be stored on a secure University server and that this information will only be used in accordance with the Data Protection Act (1998).  The DPA (1998) requires data to be processed fairly and lawfully in accordance with the rights of participants and protected by appropriate security.  In addition, the DPA (1998) makes provision for an appropriate authority, such as the Police, to access data held by the study for the purpose of safeguarding national security;  preventing or detecting crime;  prosecuting or apprehending offenders;  assessing or collecting tax;  or protecting the vital interests of the participant or anyone else.</label></td>
</tr><tr>
<td><input type="checkbox" name="contacted" id="contacted"> </td>
<td><label for="contacted">I am happy to be contacted for a follow-up interview regarding my participation in this study.  I therefore consent to the University retaining my personal details on a database, kept separately from the research data detailed above.  This consent is conditional upon the University complying with the Data Protection Act and I understand that I can request my details be removed from this database at any time and for any reason.</label></td></tr></table>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

<script src="{% static "jquery/dist/jquery.min.js"%}"></script>
<script src="{% static "jquery.scrollTo/jquery.scrollTo.min.js"%}"></script>
<script>
    $('form').submit(function() {
        var succeed = true;
        if (!($('#participant_info').is(':checked'))) {
            $('#participant_info').focus();
            alert("You must tick the box indicating you have read Participant Information");
            succeed = false;
        } else if (!($('#take_part').is(':checked'))) {
            $('#take_part').focus();
            alert("You must tick the box indicating you agree to take part");
            succeed = false;
        } else if (!($('#voluntary').is(':checked'))) {
            $('#voluntary').focus();
            alert("You must tick the box indicating your participation is voluntary");
            succeed = false;
        } else if (!($('#data').is(':checked'))) {
            $('#data').focus();
            alert("You must tick the box indicating you understand how your data will be stored");
            succeed = false;
        }


        return succeed;
    });
</script>
{% endblock %}


