django==1.7.7

pyyaml==3.11 # Used for fixtures
django_compressor # This allows us to use Coffeescript and SCSS
django-libsass==0.2 # Plugin for compressor to use SCSS
djangorestframework==3.1.1 # For passing models to javascript
django-sekizai==0.8.1 # For adding to parent blocks
django-periodically==0.3.0 # Periodic tasks
foundationform==0.2 # Rendering foundation forms automatically

embedly # Allow link embedding
django-markdown-deux==1.0.5 # For rendering markdown

# Authentication
django-allauth==0.23.0


# Old database
pony==0.6
psycopg2==2.5.4
networkx
hg+https://bitbucket.org/taynaud/python-louvain


# Heroku
django-toolbelt

beautifulsoup4==4.3.2 # For parsing HTML
requests

raven