@import "foundation_settings";
@import "../../bower_components/foundation/scss/foundation";

$fi-path: "../../foundation-icon-fonts/";

@import "../bower_components/foundation-icon-fonts/foundation-icons";

.person {
    text-align: center;

    strong {
        font-size: 0.8em;
        display: block;
        text-align: center;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .group_name {
        cursor: pointer;
        text-decoration: underline;
    }
}

.info {
    > * {
        display: inline-block;
        margin-right: 1em;
    }
}

.post {
    margin-bottom: 0.5em !important;
}

$group_bg_colours: #FFF, #000,#DDBF37,#4D1E61,#BB4F24,#86BCCE,#94132A,#A9A96B,#636663,#4D8F37,#B86590,#36598D,#BB654C,#2C2369,#C7862B,#6A1864,#D9DF4A,#501416,#779630,#482417,#AB1D20,#1D2416;
$group_fg_colours: #000, #FFF,#000,#FFF,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000;


$num:0;
    @each $color in $group_bg_colours {
        .group_#{$num} {
            $num: $num + 1;
            background-color: $color;
            border-color: nth($group_fg_colours, $num);
            color: nth($group_fg_colours, $num);
        }
    }


.group-links {
    .group {
        width: 100%;
        margin-bottom: 10px;
        border: 2px solid black;
        text-align: center;
        cursor: pointer;

        &.active {
            border-color: red;
        }

        .representative_text {
            overflow: hidden;
            max-height: 100px;
            text-align: left;
            font-size: 0.8em;
        }
    }
}

.users {
    > div {
        display: inline-block;

        img {
            width: 40px;
            margin: 2px;
            border: 2px solid black;
        }
    }
}