@import "foundation_settings";
@import "../../bower_components/foundation/scss/foundation";

.person {
    text-align: right;

    
}

.author-info {
    > * {
        display: inline-block;
        margin-right: 1em;
    }

    .group_name {
        cursor: pointer;
        text-decoration: underline;

        &.no-group {
            cursor: default;
            text-decoration: none;
        }
    }

    a {
        color: black;
    }
}

.content p {
    margin-bottom: 0;
}

.post {
    margin-bottom: 0.5em !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    
    // transition: all 500ms ease;
    box-sizing: border-box;
}

$group_bg_colours: #FFF, #DDBF37,#BB4F24,#94132A,#A9A96B,#636663,#4D8F37,#B86590,#36598D,#BB654C,#2C2369,#C7862B,#6A1864,#D9DF4A,#501416,#779630,#482417,#AB1D20,#1D2416;
$group_fg_colours: #000, #000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000,#000;
$group_info_colours: #808080,#808080,#808080,#303030 ,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080,#808080;

@each $color in $group_bg_colours {
    $num: index($group_bg_colours, $color);
    .group_#{$num - 1} {
        background-color: lighten($color, 30%);
        border-color: nth($group_fg_colours, $num);
        color: nth($group_fg_colours, $num);

        .info {
            color: nth($group_info_colours, $num);
            > * {
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
}


.group-links {
    .group {
        margin-bottom: 10px;
        border: 2px solid black;
        text-align: center;
        cursor: pointer;
        height: 9em;
        overflow: hidden;

        border-radius: 20px;
        padding-left: 5px;
        padding-right: 5px;

        &.active {
            border-color: #ea8888;
        }

        .representative_text {
            overflow: hidden;
            max-height: 7em;
            text-align: left;
            font-size: 0.8em;
        }
    }
}

.users {
    > div {
        display: inline-block;

        img {
            width: 40px;
            margin: 2px;
            border: 2px solid black;
        }
    }
}

#introduction-row {
    min-height: 9em;
}

.order-button {
    display: block;
    text-align: center;
    opacity: 0.5;

    &.active, &:hover {
        opacity: 1;
    }

    img {
        width: 32px;
    }
}

.order-recent {
    img {
        margin-top: 5px;
    }
}

#query-statement {
    font-weight: bold;
    font-size: 1.1em;
}

.socialaccount_providers {
    list-style: none;

    li {
        display: inline-block;

        a {
            @extend .button;

            &.github {
                @extend .fi-social-github;
            }

            &.facebook {
                @extend .fi-social-facebook;
            }

            &.twitter {
                @extend .fi-social-twitter;
            }

            &.linkedin {
                @extend .fi-social-linkedin;
            }

            &.google {
                @extend .fi-social-google-plus;
            }

            color: #FFF;
            text-align: center;

            &::before {
                padding-right: 5px;
            }
        }
    }
}




.topic-link {
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 1em;
    list-style: none;
}

.number {
    font-size: 2em;
    position: absolute;
    top: 10px;
    text-align: center;
}

.votes {
    padding: 0px;
    font-size: 1.2em;
    > span {
        display: block;
    }

    .fi-like, .fi-dislike {
        margin-right: 4px;
        cursor: pointer;

        &.active {
            color: green;
        }
    }
}

.new-posts {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2.3em;
    background: $topbar-bg-color;
    color: #FFF;
    z-index: 9999;
    text-align: center;
    padding-top: 6px;
}


.logo {
    max-height: 2.5em;
}


.errorlist {

    padding: 0;
    margin: 0;

    li {
        list-style: none;
        background: red;
        color: white;

        padding: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}


.comment-link {
    list-style: none;
    margin-bottom: 1em;

    .submitted {
        display: inline-block;
    }
}

#sidebar {
    padding-top: 2em;
    font-size: 0.8em;

    h2 {
        font-size: 1em;
        font-weight: bold;
    }

    p {
        font-size: 1em;
    }
}

.source {
    max-height: 2em;
    vertical-align:middle;
    display: block;
}

.notifications {

    blockquote {
        background: #FFF;
    }
}

.notification-time {
    text-align: right;
    font-size: 0.9em;
}

#recent-notifications {
    position: fixed;
    right: 0px;
    bottom: 50px;
    width: 33%;

    blockquote {
        background: #FFF;
    }

    ul {
        list-style: none;
    }

    li {
        background: #006286;
        color: #FFF; 

        a {
            color: #FFF;
        }
    }
}



#submit-topic {
    display: none;

    textarea {
        height: 200px;
    }

    #topic-image {
        text-align: center;

        img {
            max-height: 200px;
        }
    }
}