{% load staticfiles %}
{% load compress %}
{% load sekizai_tags %}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}{% endblock %} - newscircle</title>

        {% compress css %}
            <link rel="stylesheet" type="text/x-scss" href="{% static "sass/discussion.scss" %}" />
        {% endcompress %}
        {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

        <script src="{% static "modernizr/modernizr.js" %}"></script>
    </head>
    <body>
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">
                        <img src="{% static "img/logo.png" %}" title="newscircle" class="logo">
                    </a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="right">
                    {% if request.user.is_authenticated %}
                        <li class="has-dropdown">
                            <a href="#">{{request.user}}</a>
                            <ul class="dropdown">
                                <li><a href="{% url "profile" request.user.pk %}">View Profile</a></li>
                                <li><a href="{% url "account_logout" %}">Sign Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{% url "account_signup" %}">Sign up</a></li>
                        <li><a href="{% url "account_login" %}">Sign in</a></li>
                    {% endif %}
                </ul>
            </section>
        </nav>
        <div class="container">
            {% if messages %}
                <div class="row">
                    <div class="small-12 columns">
                        <div id="messages">
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div data-alert class="alert-box alert">
                                {% else %}
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                        <div data-alert class="alert-box info">
                                    {% else %}
                                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                            <div data-alert class="alert-box success">
                                        {% else %}
                                            <div data-alert class="alert-box secondary">
                                        {% endif %}
                                    {% endif %}
                                {% endif %}

                                    {{message}}
                                    <a href="#" class="close">&times;</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        {% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
        <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
        <script src="{% static "jquery.cookie/jquery.cookie.js" %}"></script>
        <script src="{% static "foundation/js/foundation.min.js" %}"></script>
        <script src="{% static "epiceditor/epiceditor/js/epiceditor.min.js" %}"></script>
        <script src="{% static "js/markdown.js" %}"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
