{% extends "base.html" %}

{% load staticfiles %}
{% load url from future %}
{% load i18n %}

{% block title %}Follow Up{% endblock %}

{% block content %}

<h2>Follow Up</h2>

<p>Thank you for using newscircle. Finally, would you be willing to be contacted for a follow-up interview regarding your participation in this study? (This is not required to participate in the discussion)</p>

<form class="signup" id="signup_form" method="post" action="{% url 'communicate' %}?next={{ next }}">
  {% csrf_token %}
  <button type="submit">I'm happy to be contacted</button><br />
  <a class="button" href="{{next}}">I'd rather not be contacted</a>
</form>

{% endblock %}


