{% extends "base.html" %}

{% block title %}Consent Information{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h2>Consent Form</h2>
            <p><strong>Ethics reference number:</strong>  ERGO/FPSE/15776</p>
            <p><strong>Version:</strong> 1 <strong>Date:</strong> 2015-07-16</p>
            <p><strong>Study Title:</strong> Effects of grouping mechanisms on contribution to online news discussion</p>
            <p><strong>Investigator:</strong> Jonathan Scott</p>

            <p>Please initial the box(es) if you agree with the statement(s):</p>

            <strong>Data Protection</strong>
            <p>I understand that information collected during my participation in this study will be stored on a secure University server and that this information will only be used in accordance with the Data Protection Act (1998).  The DPA (1998) requires data to be processed fairly and lawfully in accordance with the rights of participants and protected by appropriate security.  In addition, the DPA (1998) makes provision for an appropriate authority, such as the Police, to access data held by the study for the purpose of safeguarding national security;  preventing or detecting crime;  prosecuting or apprehending offenders;  assessing or collecting tax;  or protecting the vital interests of the participant or anyone else.</p>

            <p>I am happy to be contacted for a follow-up interview regarding my participation in this study.  I therefore consent to the University retaining my personal details on a database, kept separately from the research data detailed above.  This consent is conditional upon the University complying with the Data Protection Act and I understand that I can request my details be removed from this database at any time and for any reason.</p>
        </div>
    </div>
{% endblock %}
