{% extends "base.html" %}
{% load staticfiles %}
{% load sekizai_tags %}
{% load markdown_deux_tags %}

{% block title %}{{topic.title}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="small-8 columns">
            {% if topic.url %}
                <h1 style="display: inline-block"><a target="_BLANK" href="{{topic.url}}">{{topic.title}}</a></h1> {{topic.logo|safe}}
            {% else %}
                <h1>{{topic.title}}</h1>
            {% endif %}
            {% if request.user.is_superuser %}
                {% if topic.pinned %}
                    <form method="POST" action="{% url "unpin_topic" topic.pk %}">
                        {% csrf_token %}
                        <button type="submit">Unpin</button>
                    </form>
                {% else %}
                    <form method="POST" action="{% url "pin_topic" topic.pk %}">
                        {% csrf_token %}
                        <button type="submit">Pin</button>
                    </form>
                {% endif %}
            {% endif %}
            <p>{{topic.description|markdown}}</p>
            {% if topic.embed_html %}
                {{topic.embed_html|safe}}
            {% endif %}
            
            <div id="discussion">

            </div>
        </div>
        <div class="small-4 columns" id="sidebar">
            <br />
            <a class="button" href="#" id="go_back">Back to list</a>
            <a class="button" href="#" id="reply_link">Reply</a>

            <!-- <div class="users">{{total_users}} total users</div>
            <div class="users">{{active_users}} current user{{active_users|pluralize}}</div> -->
            <h2>UK News</h2>

            <p>This is a forum for discussing news topics. This will primarily concern the United Kingdom but may occasionally have topics which are more broad.</p>

            <p>The newscircle system aims to promote a wider range of viewpoints than present in other media by analysing contribution positions using voting behaviour.</p>

            <p>This is part of study #15776 at the University of Southampton. <a href="{% url "info" %}">Click here for more information</a>.</p>
        </div>
    </div>

    {% addtoblock "js" %}
        <script>
            var DISCUSSION_ID = {{topic.id}};
            var DISCUSSION_LOCKED = false;
            var USER_AUTHENTICATED = false;
            var CURRENT_USER_ID = 0;
            {% if topic.locked %}
                DISCUSSION_LOCKED = true;
            {% endif %}
            {% if request.user.is_authenticated %}
                USER_AUTHENTICATED = true;
                var CURRENT_USER_ID = {{topic_user.id}};
            {% endif %}

        </script>
        <!-- Application code -->
        <script>
            var STARTING_COMMENTS = {{comments|safe}};
            var STARTING_USERS = {{users|safe}};
            var STARTING_GROUPS = {{groups|safe}};
        </script>
        <script type="text/jsx" src="{% static "js/models.js"%}"></script>
        <script type="text/jsx" src="{% static "js/components.js"%}"></script>
        <script type="text/jsx" src="{% static "js/routes.js"%}"></script>
        <script>
            var ROUTER = new Router();
            Backbone.history.start({pushState: true, hashChange: false, root: "/discussion/" + DISCUSSION_ID});



            $('#reply_link').click(function() {
                window.scrollTo(0,document.body.scrollHeight);
                return false;
            });

            $('#go_back').click(function() {
                window.history.back();
                return false;
            });
        </script>
    {% endaddtoblock %}
{% endblock %}