{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="small-8 columns">
            <ul class="topics">
                {% for topic in topics %}
                    <li class="topic-link">
                        <div class="row">
                            <div class="small-1 columns">
                                <span class="number">{{forloop.counter|add:start_iterator}}</span>
                            </div>
                            <div class="small-11 columns">
                                <a href="{% url "discussion" topic.id %}">{{topic}}</a>
                                <div class="submitted">submitted <span title="{{topic.created_at}}">{{topic.created_time_ago}}</span> by <a href="{% url "profile" topic.created_by.pk %}">{{topic.created_by}}</a></div>
                                <a href="{% url "discussion" topic.id %}" class="comments">{{topic.comments.count}} comments</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination-centered">
                <ul class="pagination">
                    {% if topics.has_previous %}
                        <li class="arrow"><a href="?page={{ topics.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                    {% endif %}
                    <li class="current"><a href="#">Page {{ topics.number }} of {{ topics.paginator.num_pages }}</a></li>
                    {% if topics.has_next %}
                        <li class="arrow"><a href="?page={{ topics.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-4 columns">
            <br />
            <a class="button" href="{% url "create_topic" %}">New Topic</a>
            <div class="users">{{total_users}} total users</div>
            <div class="users">{{total_active_users}} users here now</div>
            <h2>UK News</h2>

            <p>This is a forum for discussing UK news topics.</p>

            <p>This is part of study #12345 at the University of Southampton. <a href="#">Click here for more information</a>.</p>
        </div>

{% endblock %}

