{% extends "base.html" %}
{% load staticfiles %}

{% block title %}News Discussion{% endblock %}

{% block content %}
    {% if not request.user.profile.has_seen_contacted %}
        <br />
        <div data-alert class="alert-box warning">
            Hi {{request.user}}, would you mind if we contacted you in the future to ask about your experience with newscircle?
            <a href="#" id="happy-to-contact" style="color: #FFF;font-weight: bold;text-decoration:underline;">I'm happy to be contacted</a> or <a href="#" id="rather-not" style="color: #FFF;font-weight: bold;text-decoration:underline;">I'd rather not</a>.
        </div>
    {% endif %}
    <div class="row">
        <div class="small-8 columns">
            <ul class="topics">
                {% for topic in topics %}
                    <li class="topic-link">
                        <div class="row">
                            <div class="small-1 columns">
                                <span class="number">{{forloop.counter|add:start_iterator}}</span>
                            </div>
                            <div class="small-11 columns">
                                {% if not topic.url %}
                                    <a href="{% url "discussion" topic.id %}">{{topic}}</a> (Text)
                                {% else %}
                                    <a href="{% url "discussion" topic.id %}">{{topic}}</a> ({{topic.domain}})
                                {% endif %}
                                {% if topic.pinned %}(Pinned){% endif %}
                                <div class="submitted">submitted <span title="{{topic.created_at}}">{{topic.created_time_ago}}</span> by <a href="{% url "profile" topic.created_by.pk %}">{{topic.created_by}}</a></div>
                                <a href="{% url "discussion" topic.id %}" class="comments">{{topic.comments.count}} comments</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination-centered">
                <ul class="pagination">
                    {% if topics.has_previous %}
                        <li class="arrow"><a href="?page={{ topics.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="#">&laquo;</a></li>
                    {% endif %}
                    <li class="current"><a href="#">Page {{ topics.number }} of {{ topics.paginator.num_pages }}</a></li>
                    {% if topics.has_next %}
                        <li class="arrow"><a href="?page={{ topics.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="#">&raquo;</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="small-4 columns">
            <br />
            <a class="button" href="{% url "create_topic" %}">New Topic</a>
            <div class="users">{{total_users}} total user{{total_users|pluralize}}</div>
            <div class="users">{{active_users}} current user{{active_users|pluralize}}</div>
            <h2>UK News</h2>

            <p>This is a forum for discussing news topics. This will primarily concern the United Kingdom but may occasionally have topics which are more broad.</p>

            <p>The newscircle system aims to promote a wider range of viewpoints than present in other media by analysing contribution positions using voting behaviour.</p>

            <p>This is part of study #15776 at the University of Southampton. <a href="{% url "info" %}">Click here for more information</a>.</p>
        </div>
    </div>
    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "js/contact.js" %}"></script>
{% endblock %}

