{% extends "base.html" %}

{% block title %}Participant Information{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-12 columns">
            <h2>Participant Information</h2>
            <p><strong>Ethics reference number:</strong>  ERGO/FPSE/15776</p>
            <p><strong>Version:</strong> 1 <strong>Date:</strong> 2015-07-07</p>
            <p><strong>Study Title:</strong> Effects of grouping mechanisms on contribution to online news discussion</p>
            <p><strong>Investigator:</strong> Jonathan Scott</p>

            <p>Please read this information carefully before deciding to take part in this research. If you are happy to participate, click "Continue" at the bottom of this page. Your participation is completely voluntary. If you have any questions about the study, email <a href="mailto:js3g10@soton.ac.uk">js3g10@soton.ac.uk</a></p>
            <p><strong>What is the research about?</strong>  This is a research project which aims to investigate the way that people interact online when using a novel interface method.  At the end of the study, you will recieve an email with the study findings so you can see how your data was used.</p>
            <p><strong>Why have I been chosen?</strong>  You have been approached because of your participation in online news communities.</p>
            <p><strong>What will happen to me if I take part?</strong>  You have the opportunity to participate in the news discussions on this site. You will recieve at most one email per week to highlight particular discussions, and the website will remain online for up to four months. Your level of participation can vary as you wish, and you may withdraw at any time. If you consent to being contacted for a follow-up interview, then you will recieve an email in November to arrange either an in-person interview or an interview by Skype. This stage is optional and is not required to participate in the discussions.</p>
            <p><strong>Are there any benefits in my taking part?</strong> The study will add to current knowledge about online discussions, and potential ways of increasing the range of viewpoints expressed online.</p>
            <p><strong>Are there any risks involved?</strong>  There are no particular risks associated with your participation.</p>
            <p><strong>Will my data be confidential?</strong> Your data will be held on a secure University server, and used only in accordance with the Data Protection Act (1998). If you would like to access your data after your participation, change it, or withdraw it, please contact the investigator (<a href="mailto:js3g10@soton.ac.uk">js3g10@soton.ac.uk</a>) who will arrange this.</p>
            <p><strong>What happens if I change my mind?</strong>  You may withdraw at any time and for any reason. You can remove your username, email address, demographic information, comments, and interview answers by contacting the investigator (<a href="mailto:js3g10@soton.ac.uk">js3g10@soton.ac.uk</a>).</p>
            <p><strong>What happens if something goes wrong?</strong>  Should you have any concern or complaint, contact me if possible (<a href="mailto:js3g10@soton.ac.uk">js3g10@soton.ac.uk</a>), otherwise please contact the FPSE Office (<a href="mailto:fpse-grad@soton.ac.uk">fpse-grad@soton.ac.uk</a>) or any other authoritative body such as the Head of Research Governance (02380 595058, <a href="mailto:mad4@soton.ac.uk">mad4@soton.ac.uk</a>).</p>
            <a class="button" href="{% url "account_signup" %}">Continue</a>
            <a class="button" href="{% url "index" %}">Cancel</a>
        </div>
    </div>
{% endblock %}
